# Visual Studio basics
.vs/
[Xx]64/
[Dd]ebug/
[Rr]elease/
*.ipch
*.aps
*.user
*.sdf
*.opensdf
*.suo
*.db
*.opendb

# Build results
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj
*.tlog
*.lastbuildstate
*.recipe
